{% extends 'blog/base.html' %}
{% block content %}


<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Cheering Songs for Everyone</h1>
    <p>This is Cheering Songs with Audio</p>
  </div>
</div>

<div class="container">
      <div class="row">
      	{% for song in songs %}
	    <div class="col-md-4">
	
	    	<h6> Title : {{ song.title }} </h6>
	    		Lyrics
	    		{{song.lyric}}
				<p>
				<audio controls>
					<source src="/static/audio/sample.mp3" type="audio/mpeg">
				</audio></p>
    	</div>
		{% endfor %}
    </div>
</div>

{% endblock %}
