{% extends 'blog/base.html' %}
{% block content %}
<div class="jumbotron">
  <div class="container">
    {% load staticfiles %}
    <img src="{% static 'img/KoreaUnivLogo.png' %}"; width = "30%"; height="40%";/> <img src="{% static 'img/YonseiUnivLogo.png' %}"; width = "30%"; height="40%";/>
    <h1 class="display-5"><font color = "red">Korea</font> – <font color = "blue">Yonsei</font> Rivalry 2017</h1>
    <br>
    <p> The Korea-Yonsei rivalry is the college rivalry between two universities located in Seoul, South Korea. Both schools are regarded as the most prestigious private universities in South Korea.</p>

    <p> Since 1956, annual Korea-Yonsei games has served as the most hotly contested collegiate rivalries in the country. Five sports teams: football, rugby, baseball, basketball, and ice hockey teams compete against each other.</p>
  </div>
</div>

<h2>REALTIME SCORE</h2>
<br>
<table class = "table table-striped table-bordered table-hover" style="border: 1px solid red; width:100%; height: 100px; margin: auto; text-align: center;"

  <tr>
    <td class="tg-e3zv"><h3>2017-09-22(금)</h3></td>
    <td class="tg-e3zv"><h3>2017-09-22(토)</h3></td>
  </tr>
  <tr>
    <td class="tg-e3zv">
    {% for post in posts %}
        {% if post.title == 'RUGBY' %}
    </td><td class = "tg-e3zv">
    <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a> {{ post.score_k}} : {{post.score_y}} <br><a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">UPDATE!</a></h3>
        <p>{{ post.location }}</p>

        {%else%}
    <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a> {{ post.score_k}} : {{post.score_y}} <br><a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">UPDATE!</h3></a>
        <p>{{ post.location }}</p>
        {%endif%} 
    {% endfor %}
    </td>

  </tr>
</table>

<br><br><br>
<div class="jumbotron">
  <div class="container">
<h1>This Year's Afterparty</h1>
</div>
</div>

<br>
 <img src="{% static 'img/shinchon.png' %}"; width = "60%"; height="60%";/>
<br><br>
<h6>Shinchon Specialty Street (Shinchon Station Line 2)</h6>


<br><br>
<div class="jumbotron">
  <div class="container">
<h1>Cheer Up KU!</h1>

</div>
</div>
<div class="container">
      <div class="row">
        {% for test in tests %}
        <div class="col-md-4">
    
            <h6><a href="{% url 'message_detail' pk=test.pk %}">Title : {{ test.title }}</a></h6>
                <b>Message :</b>
                <pre> {{test.text}}</pre>
                
        </div>
        {% endfor %}
    </div>
</div>





<a href="{% url 'message_new' %}">Post<span class="glyphicon glyphicon-plus"></span></a>
 {% endblock %}


