{% extends 'blog/base.html' %}

{% block content %}

<h1>종합 전적</h1>
<br>
<table class = "table table-striped table-bordered table-hover">

<colgroup>
<col style="width: 70px">
<col style="width: 100px">
<col style="width: 100px">
<col style="width: 100px">
<col style="width: 100px">
<col style="width: 100px">
<col style="width: 100px">
<col style="width: 100px">
<col style="width: 100px">
<col style="width: 100px">
<col style="width: 100px">
<col style="width: 100px">
<col style="width: 140px">
<col style="width: 100px">
<col style="width: 280px">
</colgroup>
  <tr>
    <th>연도</th>
    <th colspan="2">축구 스코어</th>
    <th colspan="2">농구 스코어</th>
    <th colspan="2">야구 스코어</th>
    <th colspan="2">빙구 스코어</th>
    <th colspan="2">럭비 스코어</th>
    
    <th colspan="3">종합 전적</th>
    <th>승리팀</th>
  </tr>
  <tr>
    <td></td>
    <td>고려</td>
    <td>연세</td>
    <td>고려</td>
    <td>연세</td>
    <td>고려</td>
    <td>연세</td>
    <td>고려</td>
    <td>연세</td>
    <td>고려</td>
    <td>연세</td>
    <td>고려</td>
    <td>무승부</td>
    <td>연세</td>
    <td></td>
  </tr>
  <tr>
    <td>1965</td>
    <td>1</td>
    <td>1</td>
    <td>89</td>
    <td>84</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>4</td>
    <td>3</td>
    <td>11</td>
    <td>1</td>
    <td>2</td>
    <td>2</td>
    <td>연세대학교</td>
  </tr>
  <tr>
    <td>1966</td>
    <td>0</td>
    <td>2</td>
    <td>91</td>
    <td>105</td>
    <td>2</td>
    <td>0</td>
    <td>6</td>
    <td>6</td>
    <td>3</td>
    <td>0</td>
    <td>2</td>
    <td>1</td>
    <td>2</td>
    <td>무승부</td>
  </tr>
  <tr>
    <td>1967</td>
    <td>0</td>
    <td>0</td>
    <td>87</td>
    <td>83</td>
    <td>5</td>
    <td>0</td>
    <td>6</td>
    <td>2</td>
    <td>5</td>
    <td>3</td>
    <td>4</td>
    <td>1</td>
    <td>0</td>
    <td>고려대학교</td>
  </tr>
  <tr>
    <td>1968</td>
    <td>0</td>
    <td>0</td>
    <td>87</td>
    <td>76</td>
    <td>4</td>
    <td>3</td>
    <td>7</td>
    <td>5</td>
    <td>16</td>
    <td>6</td>
    <td>4</td>
    <td>1</td>
    <td>0</td>
    <td>고려대학교</td>
  </tr>
  <tr>
    <td>1969</td>
    <td>0</td>
    <td>1</td>
    <td>64</td>
    <td>64</td>
    <td>4</td>
    <td>3</td>
    <td>6</td>
    <td>5</td>
    <td>3</td>
    <td>5</td>
    <td>2</td>
    <td>1</td>
    <td>2</td>
    <td>무승부</td>
  </tr>
  <tr>
    <td>1970</td>
    <td>3</td>
    <td>0</td>
    <td>71</td>
    <td>79</td>
    <td>1</td>
    <td>1</td>
    <td>9</td>
    <td>4</td>
    <td>6</td>
    <td>8</td>
    <td>2</td>
    <td>1</td>
    <td>2</td>
    <td>무승부</td>
  </tr>
  <tr>
    <td>1971</td>
    <td colspan="14">학원사태로 무산</td>
  </tr>
  <tr>
    <td>1972</td>
    <td colspan="14">학원사태로 무산</td>
  </tr>
  <tr>
    <td>1973</td>
    <td>2</td>
    <td>1</td>
    <td>62</td>
    <td>64</td>
    <td>6</td>
    <td>4</td>
    <td>4</td>
    <td>3</td>
    <td>13</td>
    <td>3</td>
    <td>4</td>
    <td>0</td>
    <td>1</td>
    <td>고려대학교</td>
  </tr>
  <tr>
    <td>1974</td>
    <td>1</td>
    <td>1</td>
    <td>87</td>
    <td>83</td>
    <td>6</td>
    <td>5</td>
    <td>5</td>
    <td>3</td>
    <td>16</td>
    <td>12</td>
    <td>4</td>
    <td>1</td>
    <td>0</td>
    <td>고려대학교</td>
  </tr>
  <tr>
    <td>1975</td>
    <td colspan="10">고려대학교 축구부 진해에서 버스 사고로 무산 (야구는 무승부 기록)</td>
    <td>-</td>
    <td>1</td>
    <td>-</td>
    <td></td>
  </tr>
  <tr>
    <td>1976</td>
    <td>1</td>
    <td>0</td>
    <td>67</td>
    <td>90</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>9</td>
    <td>6</td>
    <td>6</td>
    <td>1</td>
    <td>2</td>
    <td>2</td>
    <td>연세대학교</td>
  </tr>
  <tr>
    <td>1977</td>
    <td>0</td>
    <td>0</td>
    <td>86</td>
    <td>86</td>
    <td>2</td>
    <td>6</td>
    <td>4</td>
    <td>3</td>
    <td>7</td>
    <td>8</td>
    <td>1</td>
    <td>2</td>
    <td>2</td>
    <td>연세대학교</td>
  </tr>
  <tr>
    <td>1978</td>
    <td>0</td>
    <td>1</td>
    <td>70</td>
    <td>72</td>
    <td>1</td>
    <td>2</td>
    <td>4</td>
    <td>2</td>
    <td>10</td>
    <td>4</td>
    <td>2</td>
    <td>0</td>
    <td>3</td>
    <td>연세대학교</td>
  </tr>
  <tr>
    <td>1979</td>
    <td>1</td>
    <td>3</td>
    <td>80</td>
    <td>80</td>
    <td>4</td>
    <td>1</td>
    <td>3</td>
    <td>4</td>
    <td>39</td>
    <td>16</td>
    <td>2</td>
    <td>1</td>
    <td>2</td>
    <td>무승부</td>
  </tr>
  <tr>
    <td>1980</td>
    <td colspan="14">학원사태로 무산</td>
  </tr>
  <tr>
    <td>1981</td>
    <td>0</td>
    <td>0</td>
    <td>77</td>
    <td>76</td>
    <td>0</td>
    <td>3</td>
    <td>5</td>
    <td>6</td>
    <td>12</td>
    <td>14</td>
    <td>1</td>
    <td>1</td>
    <td>3</td>
    <td>연세대학교</td>
  </tr>
  <tr>
    <td>1982</td>
    <td>1</td>
    <td>0</td>
    <td>80</td>
    <td>81</td>
    <td>3</td>
    <td>0</td>
    <td>6</td>
    <td>3</td>
    <td>16</td>
    <td>21</td>
    <td>3</td>
    <td>0</td>
    <td>2</td>
    <td>고려대학교</td>
  </tr>
  <tr>
    <td>1983</td>
    <td colspan="14">무산 (양교 총장 성명서 발표)</td>
  </tr>
  <tr>
    <td>1984</td>
    <td>1</td>
    <td>2</td>
    <td>57</td>
    <td>51</td>
    <td>6</td>
    <td>0</td>
    <td>3</td>
    <td>7</td>
    <td>12</td>
    <td>22</td>
    <td>2</td>
    <td>0</td>
    <td>3</td>
    <td>연세대학교</td>
  </tr>
  <tr>
    <td>1985</td>
    <td>4</td>
    <td>0</td>
    <td>61</td>
    <td>65</td>
    <td>1</td>
    <td>5</td>
    <td>2</td>
    <td>11</td>
    <td>0</td>
    <td>19</td>
    <td>1</td>
    <td>0</td>
    <td>4</td>
    <td>연세대학교</td>
  </tr>
  <tr>
    <td>1986</td>
    <td>0</td>
    <td>0</td>
    <td colspan="2">무(25:21)</td>
    <td>4</td>
    <td>2</td>
    <td>4</td>
    <td>6</td>
    <td>0</td>
    <td>3</td>
    <td>1</td>
    <td>2</td>
    <td>2</td>
    <td>연세대학교</td>
  </tr>
  <tr>
    <td>1987</td>
    <td>2</td>
    <td>3</td>
    <td>67</td>
    <td>64</td>
    <td>11</td>
    <td>0</td>
    <td>5</td>
    <td>4</td>
    <td>3</td>
    <td>25</td>
    <td>3</td>
    <td>0</td>
    <td>2</td>
    <td>고려대학교</td>
  </tr>
  <tr>
    <td>1988</td>
    <td>0</td>
    <td>3</td>
    <td>57</td>
    <td>69</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>3</td>
    <td>10</td>
    <td>16</td>
    <td>1</td>
    <td>0</td>
    <td>4</td>
    <td>연세대학교</td>
  </tr>
  <tr>
    <td>1989</td>
    <td>5</td>
    <td>2</td>
    <td>69</td>
    <td>78</td>
    <td>1</td>
    <td>2</td>
    <td>8</td>
    <td>5</td>
    <td>21</td>
    <td>18</td>
    <td>3</td>
    <td>0</td>
    <td>2</td>
    <td>고려대학교</td>
  </tr>
  <tr>
    <td>1990</td>
    <td>3</td>
    <td>2</td>
    <td>58</td>
    <td>74</td>
    <td>3</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>21</td>
    <td>7</td>
    <td>3</td>
    <td>1</td>
    <td>1</td>
    <td>고려대학교</td>
  </tr>
  <tr>
    <td>1991</td>
    <td>3</td>
    <td>1</td>
    <td>57</td>
    <td>69</td>
    <td>1</td>
    <td>4</td>
    <td>2</td>
    <td>4</td>
    <td>12</td>
    <td>21</td>
    <td>1</td>
    <td>0</td>
    <td>4</td>
    <td>연세대학교</td>
  </tr>
  <tr>
    <td>1992</td>
    <td>1</td>
    <td>0</td>
    <td>65</td>
    <td>67</td>
    <td>3</td>
    <td>1</td>
    <td>3</td>
    <td>8</td>
    <td>17</td>
    <td>11</td>
    <td>3</td>
    <td>0</td>
    <td>2</td>
    <td>고려대학교</td>
  </tr>
  <tr>
    <td>1993</td>
    <td>1</td>
    <td>0</td>
    <td>60</td>
    <td>71</td>
    <td>3</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>7</td>
    <td>23</td>
    <td>2</td>
    <td>0</td>
    <td>3</td>
    <td>연세대학교</td>
  </tr>
  <tr>
    <td>1994</td>
    <td>3</td>
    <td>1</td>
    <td>73</td>
    <td>59</td>
    <td>7</td>
    <td>0</td>
    <td>3</td>
    <td>5</td>
    <td>10</td>
    <td>10</td>
    <td>3</td>
    <td>1</td>
    <td>1</td>
    <td>고려대학교</td>
  </tr>
  <tr>
    <td>1995</td>
    <td>2</td>
    <td>2</td>
    <td>92</td>
    <td>87</td>
    <td>5</td>
    <td>9</td>
    <td>5</td>
    <td>3</td>
    <td>15</td>
    <td>13</td>
    <td>3</td>
    <td>1</td>
    <td>1</td>
    <td>고려대학교</td>
  </tr>
  <tr>
    <td>1996</td>
    <td colspan="14">연세대학교 한총련 사태로 무산</td>
  </tr>
  <tr>
    <td>1997</td>
    <td>1</td>
    <td>2</td>
    <td>62</td>
    <td>68</td>
    <td>1</td>
    <td>1</td>
    <td>5</td>
    <td>4</td>
    <td>9</td>
    <td>18</td>
    <td>1</td>
    <td>1</td>
    <td>3</td>
    <td>연세대학교</td>
  </tr>
  <tr>
    <td>1998</td>
    <td>0</td>
    <td>2</td>
    <td>61</td>
    <td>58</td>
    <td>6</td>
    <td>2</td>
    <td>3</td>
    <td>6</td>
    <td>23</td>
    <td>27</td>
    <td>2</td>
    <td>0</td>
    <td>3</td>
    <td>연세대학교</td>
  </tr>
  <tr>
    <td>1999</td>
    <td>1</td>
    <td>2</td>
    <td>69</td>
    <td>72</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>4</td>
    <td colspan="2">취소 (무승부)</td>
    <td>0</td>
    <td>2</td>
    <td>3</td>
    <td>연세대학교</td>
  </tr>
  <tr>
    <td>2000</td>
    <td>2</td>
    <td>0</td>
    <td>61</td>
    <td>54</td>
    <td>1</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>10</td>
    <td>22</td>
    <td>2</td>
    <td>1</td>
    <td>2</td>
    <td>무승부</td>
  </tr>
  <tr>
    <td>2001</td>
    <td>0</td>
    <td>1</td>
    <td>98</td>
    <td>84</td>
    <td>2</td>
    <td>9</td>
    <td>3</td>
    <td>3</td>
    <td>20</td>
    <td>26</td>
    <td>1</td>
    <td>1</td>
    <td>3</td>
    <td>연세대학교</td>
  </tr>
  <tr>
    <td>2002</td>
    <td>4</td>
    <td>0</td>
    <td>70</td>
    <td>73</td>
    <td>8</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>30</td>
    <td>24</td>
    <td>3</td>
    <td>1</td>
    <td>1</td>
    <td>고려대학교</td>
  </tr>
  <tr>
    <td>2003</td>
    <td>0</td>
    <td>0</td>
    <td>65</td>
    <td>80</td>
    <td>3</td>
    <td>2</td>
    <td>2</td>
    <td>3</td>
    <td>19</td>
    <td>18</td>
    <td>2</td>
    <td>1</td>
    <td>2</td>
    <td>무승부</td>
  </tr>
  <tr>
    <td>2004</td>
    <td>2</td>
    <td>0</td>
    <td>74</td>
    <td>88</td>
    <td>2</td>
    <td>1</td>
    <td>3</td>
    <td>5</td>
    <td>19</td>
    <td>16</td>
    <td>3</td>
    <td>0</td>
    <td>2</td>
    <td>고려대학교</td>
  </tr>
  <tr>
    <td>2005</td>
    <td>0</td>
    <td>2</td>
    <td>76</td>
    <td>75</td>
    <td>0</td>
    <td>3</td>
    <td>1</td>
    <td>3</td>
    <td>14</td>
    <td>21</td>
    <td>1</td>
    <td>0</td>
    <td>4</td>
    <td>연세대학교</td>
  </tr>
  <tr>
    <td>2006</td>
    <td>1</td>
    <td>1</td>
    <td>66</td>
    <td>53</td>
    <td>1</td>
    <td>6</td>
    <td>2</td>
    <td>3</td>
    <td>27</td>
    <td>3</td>
    <td>2</td>
    <td>1</td>
    <td>2</td>
    <td>무승부</td>
  </tr>
  <tr>
    <td>2007</td>
    <td>0</td>
    <td>0</td>
    <td>90</td>
    <td>75</td>
    <td>5</td>
    <td>2</td>
    <td colspan="2">열리지 않음</td>
    <td>30</td>
    <td>22</td>
    <td>3</td>
    <td>1</td>
    <td>0</td>
    <td>고려대학교</td>
  </tr>
  <tr>
    <td>2008</td>
    <td>0</td>
    <td>1</td>
    <td>74</td>
    <td>72</td>
    <td>2</td>
    <td>9</td>
    <td>1</td>
    <td>1</td>
    <td>21</td>
    <td>27</td>
    <td>1</td>
    <td>1</td>
    <td>3</td>
    <td>연세대학교</td>
  </tr>
  <tr>
    <td>2009</td>
    <td>2</td>
    <td>1</td>
    <td>58</td>
    <td>74</td>
    <td>5</td>
    <td>4</td>
    <td>2</td>
    <td>4</td>
    <td>18</td>
    <td>18</td>
    <td>2</td>
    <td>1</td>
    <td>2</td>
    <td>무승부</td>
  </tr>
  <tr>
    <td>2010</td>
    <td>3</td>
    <td>0</td>
    <td>65</td>
    <td>74</td>
    <td>4</td>
    <td>4</td>
    <td>1</td>
    <td>8</td>
    <td>20</td>
    <td>38</td>
    <td>1</td>
    <td>1</td>
    <td>3</td>
    <td>연세대학교</td>
  </tr>
  <tr>
    <td>2011</td>
    <td>3</td>
    <td>1</td>
    <td>67</td>
    <td>61</td>
    <td>1</td>
    <td>3</td>
    <td>1</td>
    <td>1</td>
    <td>8</td>
    <td>5</td>
    <td>3</td>
    <td>1</td>
    <td>1</td>
    <td>고려대학교</td>
  </tr>
  <tr>
    <td>2012</td>
    <td>1</td>
    <td>0</td>
    <td>74</td>
    <td>60</td>
    <td>3</td>
    <td>1</td>
    <td>1</td>
    <td>3</td>
    <td>13</td>
    <td>15</td>
    <td>3</td>
    <td>0</td>
    <td>2</td>
    <td>고려대학교</td>
  </tr>
  <tr>
    <td>2013</td>
    <td>2</td>
    <td>3</td>
    <td>75</td>
    <td>62</td>
    <td>1</td>
    <td>3</td>
    <td>2</td>
    <td>2</td>
    <td>20</td>
    <td>17</td>
    <td>2</td>
    <td>1</td>
    <td>2</td>
    <td>무승부</td>
  </tr>
  <tr>
    <td>2014</td>
    <td>2</td>
    <td>0</td>
    <td>61</td>
    <td>58</td>
    <td>6</td>
    <td>3</td>
    <td>3</td>
    <td>2</td>
    <td>33</td>
    <td>23</td>
    <td>5</td>
    <td>0</td>
    <td>0</td>
    <td>고려대학교</td>
  </tr>
  <tr>
    <td>2015</td>
    <td>1</td>
    <td>1</td>
    <td>85</td>
    <td>74</td>
    <td>7</td>
    <td>5</td>
    <td>3</td>
    <td>4</td>
    <td>21</td>
    <td>24</td>
    <td>2</td>
    <td>1</td>
    <td>2</td>
    <td>무승부</td>
  </tr>
  <tr>
    <td>2016</td>
    <td>3</td>
    <td>1</td>
    <td>71</td>
    <td>71</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>26</td>
    <td>27</td>
    <td>2</td>
    <td>2</td>
    <td>1</td>
    <td>고려대학교</td>
  </tr>
  <tr>
    <td></td>
    <td colspan="2">20고12무14연</td>
    <td colspan="2">21고5무20연</td>
    <td colspan="2">25고6무15연</td>
    <td colspan="2">15고10무21연</td>
    <td colspan="2">19고4무23연</td>
    <td>100고</td>
    <td>37무</td>
    <td>93연</td>
    <td>18고10무18연</td>
  </tr>
  <tr>
    <td>우세</td>
    <td colspan="2">고려 우세</td>
    <td colspan="2">고려 우세</td>
    <td colspan="2">고려 우세</td>
    <td colspan="2">연세 우세</td>
    <td colspan="2">연세 우세</td>
    <td colspan="3">고려 우세</td>
    <td>무승부</td>
  </tr>
</table>


{% endblock %}

