{% extends 'blog/base.html' %}
{% block content %}


<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Cheering Videos for KU</h1>
    <p>This is Cheering Dance Video</p>
  </div>
</div>

<div class="container">
      <div class="row">
      	{% for video in videos %}
	    <div class="col-md-4">
	
	    	<h6>Title : {{ video.title }} </h6>  	
	    		<iframe width="320" height="180" src="http://www.youtube.com/embed/{{ video.video_url }}?enablejsapi=1" frameborder="0" allowfullscreen></iframe>	
	    	
    	</div>
		{% endfor %}
    </div>
</div>

{% endblock %}
